<h1><span style = "color:red">Loading data in MySQL</span></h1>
<div class = "alert alert-block alert-info" style = "margin-top:20-px">
    <span style="color:green">Load data in MySQL via python (Pandas)</span>

This scripts demonstrate how to load pandas Dataframe into MySQL database.

In [ ]:
df = pd.read_excel("PFEP.xlsx")
def load_pfep(df):
    connection = mysql.connector.connect(host='localhost', user='root',password = '1234@1', database = 'dataflow')
    cursor = connection.cursor()

    sheet = df
    sheet.fillna(0)
    sheet = sheet.astype(object).where(pd.notnull(sheet), None)
    
    cols = "`,`".join([str(i) for i in sheet.columns.tolist()])

    for i,row in sheet.iterrows():
        sql = "INSERT INTO `pfep` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql, tuple(row))
        connection.commit()
    connection.close()
    print("File Uploaded")
    return