## **<span style = "color:red">Data Processing - Transpose Data</span>**

<div class = "alert alert-block alert-info" style="margin-top:2-px">
    
<span style="color:green">Transpose columns arranged data into Row arranged data</span>

#### If your Data is arranged and summarized in Columns, usually because it has already been processed for final analytical purposes for you but you actually your data to be arranged in rows maybe so can use it for other purposes, below is an example of how to transpose your data.

In [8]:
import pandas as pd
df = pd.read_excel("Outbound_Activity - Copy.xlsx")
df.head(10)

,Hour,Operator 0,Operator 1,Operator 2,Operator 3,Operator 4,Operator 5,Operator 6,Operator 7,Operator 8,Operator 9,Operator 10,Operator 11,Total
0,07:00,NaN,28.0,8,15.0,12.0,5.0,6,29.0,9,20,NaN,9,141
1,08:00,42.0,42.0,36,40.0,46.0,49.0,18,41.0,6,26,43.0,18,407
2,09:00,42.0,42.0,21,48.0,42.0,42.0,18,42.0,34,16,42.0,17,406
3,10:00,42.0,42.0,23,48.0,42.0,42.0,18,42.0,42,20,42.0,18,421
4,11:00,42.0,42.0,37,42.0,46.0,42.0,18,42.0,18,19,43.0,18,409
5,12:00,42.0,42.0,18,42.0,28.0,42.0,18,42.0,18,18,42.0,18,370
6,14:00,NaN,NaN,2,NaN,NaN,NaN,6,NaN,6,6,NaN,5,25
7,Total,210.0,238.0,145,235.0,216.0,222.0,102,238.0,133,125,212.0,103,2179

##### This data sheets shows total tasks each operator managed to do, as well as the how many of those task were done during each hour of the day.

In [6]:


col = df.columns
col = pd.DataFrame(col)

#Create a List and than a DataFrame for all possible columns which are irrelevant
remove_1 = ["Total",'Hour']
remove_1 = pd.DataFrame(remove_1)

#Extract irrelevant columns from Data source
col_rem = col[col[0].isin(remove_1[0])]
col_rem = list(col_rem[0])

#Remove to irrelevant columns from the Data Source
col = col[~col[0].isin(remove_1[0])]
col = list(col[0])

time = list(df.iloc[:,0])
time = pd.DataFrame(time)
time = time[~time[0].isin(remove_1[0])]
time = list(time[0])
col_Total = col*len(time)
time_Total = time*len(col)
time_Total.sort()


df_1 = df.drop(columns = col_rem)
df_1.drop(index = df_1.index[-1], axis = 0, inplace = True)
lst = df_1.values.tolist()
lst_1 = sum(lst, [])
Summary = {"Time":time_Total,"User":col_Total,"Value":lst_1}
Sumary = pd.DataFrame(Summary)
if len(Sumary['Time'][-1:].astype(str).item()) == 16:
    x = Sumary['Time'][-1:].astype(str).item()[11:13]
    Sumary['Time'] = Sumary['Time'].str.slice(11,16)
    Sumary.to_excel("Transposed_File_{}.xlsx".format(x), index = None)
else:
    x = Sumary['Time'][-1:].astype(str).item()[0:2]
    Sumary.to_excel("Transposed_File_{}.xlsx".format(x), index = None)

In [12]:
Sumary.head(10)

    Time        User  Value
0  07:00  Operator 0    NaN
1  07:00  Operator 1   28.0
2  07:00  Operator 2    8.0
3  07:00  Operator 3   15.0
4  07:00  Operator 4   12.0
5  07:00  Operator 5    5.0
6  07:00  Operator 6    6.0
7  07:00  Operator 7   29.0
8  07:00  Operator 8    9.0
9  07:00  Operator 9   20.0

##### Now the data has been transpose to show show time, Operator and no. of task columns, and so can be expanded for different purposes